torch==1.2
torchvision==0.2
tensorboardX==2.0
numpy==1.18
tqdm==4.45.0
demjson==2.2.4
torchtext==0.6
GitPython==3.1.1
PyYAML==5.3.1
pytest==5.2.0
requests==2.21.0
fastText==0.9.1
nltk==3.4.1
pytorch-transformers==1.2.0
editdistance==0.5.3
botocore==1.15.45